
.navbar{
    font-size: 1.7em;
    background-color: #53CBC4;    
    padding: 0.2em 1em;
    a{
        text-decoration: none;
        color: #222;
        margin: .3em;
    }
    a:hover{
        color: white;
    }
}